body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    color: dimgray;
}
.name{
    color: orange;
}
.half-width{
    width: 50%;
    float: left;
    
}
.half-width img{
    width: 70%;
}
.top-banner{
    background-image: url("picture/top-banner.png");
}
section{
    height: 500px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(lightsalmon,tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.dream-area{
    background-image: url(picture/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.single-experience{
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    height: 80%;

}
.experience-area{
    background-image: url(picture/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#full-stack{
    
}

